.button {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #33ccff;
	border-radius: 6px;
	outline: none;}   
.center {
	text-align: center;} 
.user {
	color: #33ccff;}
body {
	font-family: Verdana, sans-serif;}
.menu{
	text-align: right;} 
h2 {
	text-align: center;}
.content {
	width:40%;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;
	border-style: groove;
	border-color: #33ccff;}
.adminContent {
	text-align: center;
	width:40%;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;
	border-style: groove;
	border-color: #33ccff;}
	
.chooseProjectContent{
	width:9%;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;}	
	
.projectContent {
	vertical-align: text-top;
	height: auto;
	margin: 10px;
	background: white;
	padding: 10px;
	border-style: groove;
	border-color: #33ccff;}
	
.projectContentFilters{
	vertical-align: text-top;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;
	border-style: groove;
	border-color: #33ccff;}
.table{
	text-align: left;
	width:75%;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;}
.center{
	text-align: center;
	width:75%;
	height: auto;
	margin: auto;
	background: white;
	padding: 10px;}
.left{
	text-align: left;}
textarea {
	resize: vertical; }
#checkboxes ul {
	margin: 0;
	list-style: none;
	float: center;}
#checkboxes label {
	 float: center;}
.adminBtn {
	background-color: #f44336;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-radius: 6px;
	outline: none;}

.userBtn {
	background-color: #4CAF50;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-radius: 6px;
	outline: none;}  

.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);} 
  
textarea, .text{
	resize: vertical;
 	width: 100%;
}  

.disabledDiv {
    pointer-events: none;
    opacity: 0.5;
  	background: #CCC;
} 



/* ---------------------------- display tag ------------------------------------------ */ 

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}
thead tr { /* display tag table header color */
	background-color: #999999;
}
th.sorted {
	background-color: #CCCCCC; /* ramka kolor */
}
th a,th a:visited {
	color: black;
}
th a:hover {
	text-decoration: underline;
	color: black;
}
th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}
tr.odd {
	background-color: #fff /* parzyste rzedy */
}

tr.tableRowEven,tr.even { /* nieparzyste rzedy */
	background-color: #00bfff
}
.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
/* ---------------------------- tab control ------------------------------------------ */ 
/* tab styles */

/* Draw line at down tab header */
ul.tabControlHeader {
	color: #000;
	border-bottom: 2px solid black;
	margin: 12px 0px 0px 0px;
	padding: 0, 5px;
	z-index: 1;
	padding-left: 10px }

/* Set tab (li) horizontally */
ul.tabControlHeader li {
    display: inline;
	overflow: hidden;
	list-style-type: none; 
	color: #DEDECF;
	background: #33ccff;
	font: Verdana, sans-serif;
	border: 2px solid black;
	padding: 2px 5px 0px 5px;
	margin: 2px 2px 0 2px;
	text-decoration: none;
}


/* Tab active */
ul.tabControlHeader li.active {
    background: #fff;
	border-bottom: 3px solid #fff; }

/* A with no text-decoration */
ul.tabControlHeader a {
    color: #000;
    text-decoration: none;
}

.tabControlBody {font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
	text-align: justify;
	background: #ffffff;
	padding: 0px;
	border: 2px solid black;
	border-top: none;
	z-index: 2;	}
	
/* READ-ONLY State */
ul.tabControlHeader li.tabPageHeaderReadOnly {
   	background: #d4d7a5;
   	border: 1px solid black;   	
}

ul.tabControlHeader li.tabPageHeaderReadOnly_active {
	background: #d4d7a5;
	border-bottom: 3px solid #d4d7a5; 	
}

div.tabPageBodyReadOnly {
	background: #e9ecb4;
   	opacity:70;
   	filter: alpha(opacity=70);
   	-moz-opacity: 0.7;	
}

/* FORBIDDEN State */
ul.tabControlHeader li.tabPageHeaderForbidden {
	background: #ba2f2f;
}

ul.tabControlHeader li.tabPageHeaderForbidden_active {
	background: #ba2f2f;
}

div.tabPageBodyForbidden {
	background: #ba2f2f;
}

ul.tabControlHeader li.tabPageHeaderForbidden a {
    color: #FFFFFF;
    text-decoration: none;
}

