<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/gts_test3</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Password1!</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">none</property>
       <!-- <property name="connection.pool_size">100</property> -->	
        <mapping class="com.bartosz.gameteststudio.beans.ProjectBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.StateBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.RoleBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.UserBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.PlatformBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.PriorityBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.AreaBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.ResultBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.VersionBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.BuildBean"></mapping>
        <mapping class="com.bartosz.gameteststudio.beans.TestBean"></mapping> 
        <mapping class="com.bartosz.gameteststudio.beans.IssueTypeBean"></mapping> 
        <mapping class="com.bartosz.gameteststudio.beans.BugBean"></mapping> 
    </session-factory>
</hibernate-configuration>